<%= form_with(model: bookmaker) do |form| %>
  <% if bookmaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bookmaker.errors.count, "error") %> prohibited this bookmaker from being saved:</h2>

      <ul>
        <% bookmaker.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.date_select :year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
