<p id="notice"><%= notice %></p>

<h1>Bookmakers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmakers.each do |bookmaker| %>
      <tr>
        <td><%= bookmaker.name %></td>
        <td><%= bookmaker.year %></td>
        <td><%= link_to 'Show', bookmaker %></td>
        <td><%= link_to 'Edit', edit_bookmaker_path(bookmaker) %></td>
        <td><%= link_to 'Destroy', bookmaker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmaker', new_bookmaker_path %>
